pipeline/Pandas_STG_Load_To_Delta_Tables.json
{
	"name": "Pandas_STG_Load_To_Delta_Tables",
	"properties": {
		"description": "Pandas_STG_Load_To_Delta_Tables",
		"activities": [
			{
				"name": "Get Metadata of ADLS Data Source Container",
				"description": "Get Metadata of ADLS Data Source Container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_Container_rawdata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach Container",
				"description": "ForEach Container",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata of ADLS Data Source Container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata of ADLS Data Source Container').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Load the data from the blob container",
							"description": "Load the data from the blob container",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "Pandas_Load_Data_From_Blob_To_Synapse_SQL_Pool",
									"type": "NotebookReference"
								},
								"parameters": {
									"FolderName": {
										"value": {
											"value": "@item()['name']",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "devpool",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": false
								},
								"driverSize": "Small"
							}
						},
						{
							"name": "Set variable Mode",
							"description": "Set variable Mode",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Load the data from the blob container",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Mode",
								"value": "append"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Mode": {
				"type": "String",
				"defaultValue": "overwrite"
			}
		},
		"annotations": []
	}
}